{% load static %}
<html>
<head>
<title>Email Spam Detection</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;

	if(x == null || x==""){
		window.alert("Email message must be entered");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Email Spam Detection Using Machine Learning Algorithms</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
      <li><a href="{% url 'UploadDataset' %}">Upload Dataset</a></li>
	  <li><a href="{% url 'TrainData' %}">Run Random Forest</a></li>
	  <li><a href="{% url 'TrainDataGA' %}"> Run Random Forest using GA</a></li>
	  <li><a href="{% url 'SpamDetection' %}">Spam Detect</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'SpamDetectionAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Spam Detection Screen from Email Message</b></h3>
   
	<font size="" color="black"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			 <tr><td><font size="" color="black">Input&nbsp;Email</font></td><td>
			 <textarea name="t1" rows="10" cols="80"></textarea></td></tr>
         		
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				</div>	
					
				</div>
				
				
	</body>
</html>